.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  position: relative;

  span {
    color: gray;
  }

  .login-form-wrapper {
    display: flex;
    width: clamp(30rem, 80svw, 55rem);
    height: clamp(30rem, 70svh, 40rem);
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &.login {
      height: clamp(25rem, 55svh, 40rem);
      .login-form .login-form-inner .actions {
        height: 20%;
        transform: translateY(-30%);
      }

      .login-form .login-form-inner .inputs-wrapper {
        height: 40%;
      }
    }

    .login-form {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .login-form-inner {
        $form-base: #ffffff;
        width: 90%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        background: $form-base;

        .form-title {
          height: 15%;

          h1 {
            font-size: 1.8rem;
            font-weight: bold;
          }

          h2 {
            font-size: 1rem;
            font-weight: normal;
            color: #6b6b6b;
            margin-bottom: 0.8rem;
          }
        }

        .inputs-wrapper {
          width: 100%;
          height: 60%;

          .input-wrapper {
            position: relative;
            width: 100%;
            height: 2.4rem;
            margin-bottom: 6%;
            border-radius: 6px;
            font-size: 1rem;

            * {
              transition: 0.2s;
            }

            display: flex;
            justify-content: center;
            align-items: center;

            label {
              position: absolute;
              font-size: 0.975rem;
              color: gray;
              left: 4%;
              top: 50%;
              transform: translateY(-50%);
              cursor: text;
            }

            &:focus-within,
            &.filled {
              outline: none;
              label {
                left: 3%;

                transform: translateY(-160%);
                padding: 0.15rem;
                background: $form-base;
                font-size: 0.75rem;
                border-radius: 1rem;
              }
            }

            input {
              border-radius: 6px;
              border: 1px solid #ddd;
              width: 100%;
              height: 100%;
              font-size: 1rem;
              text-indent: 0.8rem;
            }
          }
        }

        .actions {
          width: 100%;
          height: 15%;
          display: flex;
          align-items: center;
        }

        .forgot-password {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 2rem;

          span {
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        button {
          width: 100%;
          height: 2.9rem;
          background-color: #000;
          color: #fff;
          font-size: 1rem;
          border: none;
          border-radius: 6px;
          cursor: pointer;

          &:hover {
            background-color: #333;
          }
        }

        span {
          font-size: 0.875rem;
          height: 0.8rem;

          button {
            color: gray;
            width: fit-content;
            cursor: pointer;
            background: none;
            border: none;
            font-size: 0.875rem;
            display: inline;
            border: none;
            background: none;
            text-decoration: underline;

            &:hover {
              background: none;
            }
          }
        }
      }
    }

    .login-sidebar {
      $radius: 60%;
      flex: 1;
      background-color: #c3c3c3;
      position: relative;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      display: flex;
      justify-content: center;
      align-items: center;

      &.login {
        $radius: 8rem;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        margin-bottom: 15%;

        > * {
          color: white;
        }

        h2 {
          font-size: 1.2rem;
          font-weight: 400;
        }

        a {
          text-decoration: none;
          display: grid;
          place-items: center;
          position: relative;
          $size: 2.8rem;
          background: none;
          border: 3px solid white;
          border-radius: 6px;
          width: $size * 2.9;
          height: $size;
          font-size: 1.2rem;
          font-weight: 650;
          cursor: pointer;
          overflow: hidden;

          &:hover {
            color: #c3c3c3;
            &::before {
              content: "Login";
              animation: btn-hover 0.4s ease-in-out forwards;
            }
          }

          &.login {
            $size: 3rem;
            &:hover::after {
              content: "Sign up";
              width: 100%;
              text-align: center;
            }
          }

          &.register {
            &:hover::after {
              content: "Login";
            }
          }

          &:hover::after {
            font-size: inherit;
            font-weight: inherit;
            color: #c3c3c3;
            z-index: 4;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          &::before {
            content: "";
            transition: 0.4s;
            background: white;
            border-radius: 100%;
            width: 200%;
            aspect-ratio: 1/1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: btn-leave 0.1s ease-in-out forwards;
          }

          @keyframes btn-hover {
            0% {
              opacity: 0;
              width: 0;
            }
            100% {
              opacity: 1;
              width: 200%;
            }
          }

          @keyframes btn-leave {
            to {
              opacity: 0;
            }
          }
        }
      }

      @media (max-width: 480px) {
        flex: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
      }
    }
  }
}
