$header-h: 6vh;
$footer-h: 25vh;

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	@extend .flex-center;
	position: relative;
	width: 100%;
	height: $footer-h;
	background-color: black;
	z-index: 10;
	color: white;
	font-size: 1rem;
	font-weight: 100;

	a {
		text-decoration: none;
		color: white;
	}

	.footer-box {
		position: relative;
		width: 85%;
		height: 65%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.footer-box-inner {
			width: 100% !important;
			height: 3rem;
			display: flex;
			align-items: center;

			&.between {
				justify-content: space-between;

				> div {
					width: 10rem;
					&.socials {
						display: flex;
						gap: 0.6rem;
						img {
							width: clamp(2rem, 10%, 10rem);
						}
					}
				}

				@media (max-width: 768px) {
					height: 3rem;
				}
			}

			&.start {
				gap: 10%;
			}
		}
		#trademark {
			font-size: 0.8rem;
			font-weight: 100;
		}
	}
}
